<ion-view view-title="Game">
    <ion-content class="padding">
        <img src="img/ww_logo.png">
        {{game.date | date: 'MMM d'}} @ {{game.time | date: 'h:mm a'}}
        <br> vs. {{game.opponent}}
        <br>
        <div ng-repeat="note in game.notes">
            <br> {{note.result}}
            <br> {{note.goalsFor}} - {{note.goalsAgainst}} 
            <br> {{note.gameNotes}}
            <br>
        </div>
        <br>
        <br>

        <form name="note" novalidate ng-submit="addNote(note); getResult()">
            <div class="list">
                <select name="result" ng-model="newNote.result">
                    <option value="">-- Select a result --</option>
                    <option value="Win">Win</option>
                    <option value="Loss">Loss</option>
                    <option value="Tie">Tie</option>
                </select>
                <label class="item item-input">
                    <input name="goalsFor" type="number" placeholder="Goals For" ng-model="newNote.goalsFor" required></input>
                </label>
                <label class="item item-input">
                    <input name="goalsAgainst" type="number" placeholder="Goals Against" ng-model="newNote.goalsAgainst" required></input>
                </label>
                <label class="item item-input">
                    <input name="gameNotes" type="text" placeholder="Game Notes" ng-model="newNote.gameNotes" required></input>
                </label>
            </div>
            <button class="button button-block button-green" type="submit">
                Add Note
            </button>
        </form>
    </ion-content>
</ion-view>