<ion-view view-title="Menu">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="logout()">
            <i class="icon ion-log-out dark"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <img src="img/ww_logo.png">
        <button class="button button-block button-green" ui-sref="schedule">
            Schedule
        </button>
        <button class="button button-block button-green" ui-sref="opponents">
            Opponents
        </button>
        <button class="button button-block button-green" ui-sref="statistics">
            Statistics
        </button>
    </ion-content>
</ion-view>