<ion-view view-title="Register">
    <ion-content class="padding">
        <form name="registerForm" novalidate ng-submit="registerSubmitForm(registerForm)">
            <div class="list list-inset">
                <label class="item item-icon-left" ng-class="{ 'has-errors' : registerForm.email.$invalid && loginForm.$submitted}">
                    <i class="icon ion-ios-email"></i>
                    <input name="email" type="email" placeholder="Email" ng-model="user.email" required>
                </label>
                <label class="item item-icon-left" ng-class="{ 'has-errors' : registerForm.firstName.$invalid && loginForm.$submitted}">
                    <i class="icon ion-person"></i>
                    <input name="firstName" type="text" placeholder="First Name" ng-model="user.firstName" required>
                </label>
                <label class="item item-icon-left" ng-class="{ 'has-errors' : registerForm.lastName.$invalid && loginForm.$submitted}">
                    <i class="icon ion-person"></i>
                    <input name="lastName" type="text" placeholder="Last Name" ng-model="user.lastName" required>
                </label>
                <label class="item item-icon-left" ng-class="{ 'has-errors' : regiserForm.password.$invalid && loginForm.$submitted}">
                    <i class="icon ion-locked"></i>
                    <input name="password" type="password" placeholder="Password" ng-model="user.password" required>
                </label>
                <label class="item item-icon-left" ng-class="{ 'has-errors' : registerForm.repeatPassword.$invalid && loginForm.$submitted}">
                    <i class="icon ion-locked"></i>
                    <input name="repeatPassword" type="password" placeholder="Repeat password" ng-model="repeatPassword.password" required>
                </label>
            </div>
            <button class="button button-block button-green" type="submit">
                Sign up
            </button>
        </form>
    </ion-content>
</ion-view>