<ion-view view-title="Schedule">
    <ion-nav-buttons side="left">
      <button class="button" ng-click="logout()">
        Logout
      </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        Game 1 <br>
        Game 2 <br>
        Game 3 <br>
        
        <button class="button button-block button-positive">
          Schedule
        </button>
        <button class="button button-block button-positive">
          Opponents
        </button>
        <button class="button button-block button-positive">
          Statistics
        </button>        
    </ion-content>
</ion-view>