<ion-view view-title="Statistics">
    <ion-content class="padding">
        <img src="img/ww_logo.png">
        <strong>Team Statistics</strong><br>
        <br>
        <em>Totals</em><br>
        Goals For: {{goalsForTotal}}<br>
        Goals Against: {{goalsAgainstTotal}}<br>
        <br>
        <em>Averages</em><br>
        Goals For: {{goalsForAverage}}<br>
        Goals Against: {{goalsAgainstAverage}}<br>
        <br>
        <strong>Individual Statistics</strong><br>
        <br>
        <em>Totals</em><br>
        Goals: n/a<br>
        Assists: n/a<br>
        <br>
        <em>Averages</em><br>
        Goals: n/a<br>
        Assists: n/a<br>
    </ion-content>
</ion-view>