<ion-view view-title="Statistics">
    <ion-content class="padding">
        <img src="img/ww_logo.png">
        <br><br>
        <div class="center">
            <div class="title">
                Team Statistics<br>
            </div>
            <br>
            <div class="subtitle">
                Totals<br>
            </div>
                Goals For: {{goalsForTotal}}<br>
                Goals Against: {{goalsAgainstTotal}}<br>
            <br>
            <div class="subtitle">
                Averages<br>
            </div>
                Goals For: {{goalsForAverage}}<br>
                Goals Against: {{goalsAgainstAverage}}<br>
            <br><hr><br>
            <div class="title">
                Individual Statistics<br>
            </div>
            <br>
            <div class="subtitle">
                Totals<br>
            </div>
                Goals: n/a<br>
                Assists: n/a<br>
            <br>
            <div class="subtitle">
                Averages<br>
            </div>
                Goals: n/a<br>
                Assists: n/a<br>
        </div>
    </ion-content>
</ion-view>