<ion-view view-title="Statistics">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="logout()">
            <i class="icon ion-log-out dark"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <img src="img/ww_logo.png">
        <br><br>
        
        <div class="center">
            <div class="title">
                Team Statistics<br>
            </div>
            <div class="card">
                <div class="item item-divider card-title">
                    Totals
                </div>
                <div class="item item-text-wrap row">
                    <div class="col col-50">
                        <div class="subtitle">Goals For: <br></div>
                        {{results.goalsForTotal}}
                        </div>
                    <div class="col col-50">
                        <div class="subtitle">Goals Against: <br></div>
                        {{results.goalsAgainstTotal}}
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="item item-divider card-title">
                    Averages
                </div>
                <div class="item item-text-wrap row">
                    <div class="col col-50">
                        <div class="subtitle">Goals For: <br></div>
                        {{goalsForAverage}}/game
                    </div>
                    <div class="col col-50">
                        <div class="subtitle">Goals Against: <br></div>
                        {{goalsAgainstAverage}}/game
                    </div>
                </div>
            </div>
            <!--<br>-->
            <!--<div class="title">-->
            <!--    Individual Statistics<br>-->
            <!--</div>-->
            <!--<div class="card">-->
            <!--    <div class="item item-divider card-title">-->
            <!--        Totals-->
            <!--    </div>-->
            <!--    <div class="item item-text-wrap row">-->
            <!--        <div class="col col-50">-->
            <!--            <div class="subtitle">Goals: <br></div>-->
            <!--            n/a-->
            <!--        </div>-->
            <!--        <div class="col col-50">-->
            <!--            <div class="subtitle">Assists: <br></div>-->
            <!--            n/a-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            <!--<div class="card">-->
            <!--    <div class="item item-divider card-title">-->
            <!--        Averages-->
            <!--    </div>-->
            <!--    <div class="item item-text-wrap row">-->
            <!--        <div class="col col-50">-->
            <!--            <div class="subtitle">Goals: <br></div>-->
            <!--            BLANK/game-->
            <!--        </div>-->
            <!--        <div class="col col-50">-->
            <!--            <div class="subtitle">Assists: <br></div>-->
            <!--            BLANK/game-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
        </div>
    </ion-content>
</ion-view>