<ion-tabs class="tabs-icon-top tabs-color-active-light tabs-calm">

  <!-- Home Tab -->
    <!--<ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/lobby">-->
    <!--    <ion-nav-view name="lobby"></ion-nav-view>-->
    <!--</ion-tab>  -->
    
  <!-- Schedule Tab -->
    <ion-tab title="Schedule" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/schedule">
        <ion-nav-view name="schedule"></ion-nav-view>
    </ion-tab>
   
  <!-- Opponents Tab -->
    <ion-tab title="Opponents" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/opponents">
        <ion-nav-view name="opponents"></ion-nav-view>
    </ion-tab>
    
  <!-- Statistics Tab -->
    <ion-tab title="Statistics" icon-off="ion-ios-football-outline" icon-on="ion-ios-football" href="#/tab/statistics">
        <ion-nav-view name="statistics"></ion-nav-view>
    </ion-tab>
</ion-tabs>