<ion-footer-bar>
    <ion-tabs class="tabs-icon-top">
        <ion-tab title="Schedule" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar-outline" ui-sref="schedule">
            <ion-nav-view name="tab-schedule"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Opponents" icon-off="ion-ios-people" icon-on="ion-ios-people" ui-sref="opponents">
            <ion-nav-view name="tab-opponents"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Statistics" icon-off="ion-ios-football" icon-on="ion-ios-football" ui-sref="statistics">
            <ion-nav-view name="tab-statistics"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-footer-bar>