<ion-view view-title="Team">
    <ion-nav-buttons side="right">
        <button class="button" ng-click="logout()">
            <i class="icon ion-log-out dark"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <img src="img/ww_logo.png">

        <div class="card title">
        	<ion-list>
        		<ion-item>
    				<div class="team-name">
                        {{opp}}
                    </div>
        		</ion-item>
        	</ion-list>
        </div>

        <br>
        <div class="center">
            <div ng-repeat="games in filteredGames">
                {{games.date | date: 'MMM d'}} @ {{games.time | date: 'h:mm a'}}<br>
                <div ng-repeat="outcome in games.outcome">
                    {{outcome.result}}: {{outcome.goalsFor}} - {{outcome.goalsAgainst}}<br><br>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>