<ion-view view-title="Team">
    <ion-content class="padding">
        <img src="img/ww_logo.png">
        <br><br>
        <div class="title">
            {{opp}}
        </div>
        <br>
        <div class="center">
            <div ng-repeat="games in filteredGames">
                {{games.date | date: 'MMM d'}} @ {{games.time | date: 'h:mm a'}}<br>
                <div ng-repeat="notes in games.notes">
                    {{notes.result}}: {{notes.goalsFor}} - {{notes.goalsAgainst}}<br><br>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>