.item-input {
  margin: 5px 0px;
}

.has-errors {
  border: 1px solid red;
}

.header-green {
  background-color: #49533d;
  color: #f1f1f2;
}

.button-green {
  background-color: #ccd0bf;
  color: #49533d;
}

img {
	width: 100%;
}

.team-name {
  text-align: center;
}

.game-left {
  float: left;
  width: 50%;
  text-align: center;
}

.game-right {
  float: right;
  width: 50%;
  text-align: left;
}

.game-notes {
  text-align: center;
}

.game-result {
  font-size: large;
  font-style: italic;
  font-weight: bold;
}

hr {
  width: 75%;
}

.title {
  font-weight: bold;
  font-size: larger;
  text-align: center;
  color: #49533d;
}

.subtitle {
  font-style: italic;
  text-decoration: underline;
  line-height: 200%;
  color: #49533d;
}

.center {
  text-align: center;
}